---
date: 2015-01-02
tags: project
year: 2015
company: Facebook
layout: project.liquid
title: Facebook Developers.
tagline: Rebuilding the Faceook Page Plugin for people to use across the web.
roles: Product Design
thumb: project_thumb_devex.jpg
themecolor: 797A70
textcolor: type-light
heroImage: devex/hero.jpg
---

<article>
  <section>
    <h1>TL;DR</h1>
    <h2>Project</h2>
    <p>With the Like Box to be depreciated shortly, the social plugins team was looking to create a plugin to take it's place. During my internship I designed and helped ship the new page plugin. The process included research, design, prototyping and engineering phases. I also worked on an overhaul of the Facebook Developer site and the autogen documentation.</p>
    <hr>
    <h2>Goals</h2>
    <ul>
    	<li>Design a plugin that highlights the user's presence on Facebook elsewhere</li>
		<li>Migrate as many as possible existing Like Box plugins to the new Page Plugn</li>
    </ul>
    <a href="http://developers.facebook.com" target="_blank" class="button">Facebook Developers</a>
    <a href="http://developers.facebook.com/docs/plugins/page-plugin" target="_blank" class="button">Page Plugin</a>
  </section>
</article>