---
date: 2015-01-02
tags: project
year: 2015
company: Facebook
layout: project.liquid
title: Facebook Developers.
tagline: Rebuilding the Faceook Page Plugin for people to use across the web.
roles: Product Design
thumb: project_thumb_devex.jpg
themecolor: 797A70
textcolor: type-light
heroImage: devex/hero.jpg
---

<article>
  <section>
    <h1>TL;DR</h1>
    <p>This project is an exploration of infinite space and communication. The ideas of space, space travel and communication in space have always fascinated me. As this is an art project I wanted to take a personal approach, exploring a topic that is important to me. The goal of the assignment is to use a dataset to create art. I struggled to find a dataset that would allow me to do exactly what I wanted, so I decided to use the data I found as a creative medium rather than to use it as a direction for my narrative.</p>
    <img src="http://ysdn-gradshow.s3.amazonaws.com/564f9255e7679d3cd0f73ec9/56c0f107cfcf120800f28b2c/22d86625220422e9b44619000db9249e9e79e163-screenshot-2016-02-19-13.54.12.8b6ff64a31790288f1b061ccc4fe027a54591f84.png" alt="" class="wide">
    <p>The visual style of the piece was inspired by old technology. The dataset is from 1995, as well as the “glory days” of NASA are in the past as well. The movement of the map is designed after tape-based data storage, where data would be recorded as a tape was fed through the system.</p>
    <a href="https://github.com/iamnbutler/spacelink" target="_blank" class="button">View on Github</a>
  </section>
</article>