---
date: 2014-01-01
tags: project
year: 2014
company: Format
layout: project.liquid
title: Creative Portfolios.
tagline: Helping creatives build custom content for their portfolio websites.
roles: Product Design, Web Development
thumb: project_thumb_format.jpg
themecolor: 361708
textcolor: type-light
---

<article>
  <section>
    <h1>TL;DR</h1>
    <h2>Project</h2>
    <p>At Format the team I was a part of was tasked with rebuilding the Format system's custom pages. At the time pages were simply prebuilt templates. We created a modular templating engine that allowed for users to create near-infinite configurations of pages with very low complexity. Using pre-build modules users wouldn't have to worry about which modules would work well together. The modules were designed using a strict grid, ensuring that most configurations look great "out of the box." I worked both design and development on this project.</p>
    <hr>
    <h2>Goals</h2>
    <ul>
		<li>Build a system that users can create pages with custom content</li>
		<li>Use modules to allow users to construct their own page layouts and templates</li>
		<li>Design modules that will look great together (user doesn't need to have design knowledge)</li>
		<li>Keep complexity low (modules only stack horizontally)</li>
    </ul>
    <a href="http://format.com" target="_blank" class="button">Format.com</a>
  </section>
</article>