---
date: 2012-01-01
tags: project
year: 2012
company: LOOKBOOK
layout: project.liquid
title: Fashion Social.
tagline: Online Fashion social networking in a pre-instagram world.
roles: Web Design, Web Development
thumb: project_thumb_lookbook.jpg
thumbGIF: project_thumb_lookbook.gif
themecolor: C1C1B7
textcolor: type-dark
---

<article>
  <section>
    <h1>TL;DR</h1>
    <h2>Project</h2>
    <p>I worked with the folks at lookbook.nu to help drive discovery to new looks, reduce page bounce rates and simplify spme of the complexity in their interfaces. I designed and prototyped a new site header, profile pages, blog and store fronts and multiple explore concepts. I conceptualized and designed a collection system that created a new category of users for the site.</p>
    <hr>
    <h2>Goals</h2>
    <ul>
		<li>Keep more users engaged on the site, reducing bounce rates and increasing active time</li>
		<li>Define and cater to new categories of users (superfans, collectors, bloggers, etc)</li>
		<li>Explore sections that might introduce alternate revenue models (store, blog, community market)</li>
    </ul>
    <p>(The work that I did with lookbook.nu is predominantly no longer available online.)</p>
    <a href="https://lookbook.nu/" target="_blank" class="button">Lookbook.nu</a>
  </section>
</article>