---
date: 2011-01-02
tags: project
year: 2011-2016
company: YSDN
layout: project.liquid
title: Print Design.
tagline: Four years of exploration of visual and print design.
roles: Visual Design, Print Design
thumb: project_thumb_print.jpg
themecolor: FFFFFF
---

<article>
  <section>
    <h1>TL;DR</h1>
    <p>Here are a few of my selected design works spanning from 2011 — 2015. I spent a lot of time during school doing professional work, so I often took my courses as an opportunity to explore and experiment with mediums.</p>
    <p>Learning to work in a variety of spaces and mediums allows one to grow and appreciate voices different than their own. Understanding alternate viewpoints and another’s worldview can be found at the core of becoming a more open person.</p>
  </section>
</article>