// Footer

.site-footer {
	position: relative;
	overflow: hidden;
	background-color: $black;

	.content {
		z-index: 2;
		padding-top: 50px;
		position: relative;
		min-height: 380px;
		.footer-image {
			width: 388px;
			height: 388px;
			background-image: url(/img/footer_image.jpg);
			background-repeat: no-repeat;
			background-size: 388px;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 1;
			opacity: 0.6;
		}
	}

	.row {
		display: flex;
		width: 100%;
		position: relative;
		z-index: 10;
	}

	.footer-text {
		padding-top: 24px;
		position: relative;
		z-index: 10;
		& > p {
			text-align: center;
			display: block;
			text-shadow: 0px 4px 8px black;
			&:first-child {
				font-weight: 600;
			}
			&:nth-child(2) {
				font-size: 0.95em;
			}

			a {
				color: white;
			}
		}
	}

	footer {
		width: 100%;
	}

	h1 {
		color: white;
		text-shadow: 0px 1px 8px black;
	}

	h3 {
		max-width: 420px;
		opacity: 0.8;
		font-weight: 500;
		text-shadow: 0px 1px 8px black;
	}

	ul {
		margin-top: 16px;
		// text-align: right;
	}

	.social-footer {
		// position: relative;
		flex: 2;
		z-index: 10;
	}

	.footer-intro {
		// position: relative;
		// margin-top: 16px;
		width: 50%;
		z-index: 10;
		flex: 1;
		display: flex;
		.avatar {
			margin-top: 10px;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: #000;
			margin-right: 10px;
			background-image: $portrait;
			background-size: 48px;
		}

		a {
			font-weight: 700;
		}

		p {
			font-size: 18px;
			line-height: 22px;
			&:first-child {
				margin-bottom: 8px;
			}
		}

		.em {
			transform: scale(0.85);
		}
	}

	.bubble {
		width: 320px;
		background-color: $white;
		border-radius: 16px;
		color: $black;
		font-family: FiraSans-Regular;
		font-size: 16px;
		letter-spacing: 0;
		padding: 12px 16px;
		height: fit-content;
		@extend .shadow-soft; 
	}

	footer {
		text-align: center;
		padding: 24px 0 50px 0;
		display: block;
		width: 100%;
	}
}