//
//  Icons  //
//

// Icons 
.icon {
	display: inline-block;
}

.icon-12 {
	width: 12px;
	height: 12px;
	display: inline-block;
	background-size: 12px 12px;
}

.icon-20 {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: 20px 20px;
}

// Black 12
$logo-b-12: url(../img/icon-logo-b-12.png);
$play-b-12: url(../img/icon-play-b-12.png);
$close-b-12: url(../img/icon-close-b-12.png);
$lines-b-12: url(../img/icon-lines-b-12.png);
$grid-b-12: url(../img/icon-grid-b-12.png);
$mute-b-12: url(../img/icon-mute-b-12.png);
$contact-b-12: url(../img/icon-contact-b-12.png);
$up-b-12: url(../img/icon-up-b-12.png);

// Black 20
$logo-b-20: url(../img/icon-logo-b-20.png);
$play-b-20: url(../img/icon-play-b-20.png);
$close-b-20: url(../img/icon-close-b-20.png);
$lines-b-20: url(../img/icon-lines-b-20.png);
$grid-b-20: url(../img/icon-grid-b-20.png);
$mute-b-20: url(../img/icon-mute-b-20.png);
$contact-b-20: url(../img/icon-contact-b-20.png);
$up-b-20: url(../img/icon-up-b-20.png);

// White 12
$logo-w-12: url(../img/icon-logo-w-12.png);
$play-w-12: url(../img/icon-play-w-12.png);
$close-w-12: url(../img/icon-close-w-12.png);
$lines-w-12: url(../img/icon-lines-w-12.png);
$grid-w-12: url(../img/icon-grid-w-12.png);
$mute-w-12: url(../img/icon-mute-w-12.png);
$contact-w-12: url(../img/icon-contact-w-12.png);
$up-w-12: url(../img/icon-up-w-12.png);

// White 20
$logo-w-20: url(../img/icon-logo-w-20.png);
$play-w-20: url(../img/icon-play-w-20.png);
$close-w-20: url(../img/icon-close-w-20.png);
$lines-w-20: url(../img/icon-lines-w-20.png);
$grid-w-20: url(../img/icon-grid-w-20.png);
$mute-w-20: url(../img/icon-mute-w-20.png);
$contact-w-20: url(../img/icon-contact-w-20.png);
$up-w-20: url(../img/icon-up-w-20.png);

// Backup
// TODO: Replace with new icon system

$logo: url(../img/logo.png);
$close: url(../img/close.png);
$lines: url(../img/lines.png);
$lines_12: url(../img/lines_12.png);
$contact: url(../img/contact.png);
$mute: url(../img/mute.png);
$play: url(../img/play.png);
$up: url(../img/up.png);

$portrait: url(../img/portrait.jpg);

// Thumbs
$avatarProjectThumb: url(../img/avatar_project_thumb.png);

.icon-logo-12 {
	background-image: $logo;
}

.icon-lines {
	background-image: $lines;
}

.icon-lines-12 {
	background-image: $lines_12;
}
.icon-contact {
	background-image: $contact;
}

.icon-close {
	background-image: $close;
}

.icon-mute {
	background-image: $mute;
}

.icon-play {
	background-image: $play;
}

.icon-up {
	background-image: $up;
}

// Icon Library

// Icon Black 12
.icon-logo-b-12 {
	background-image: $logo-b-12;
}

.icon-play-b-12 {
	background-image: $play-b-12;
}

.icon-close-b-12 {
	background-image: $close-b-12;
}

.icon-lines-b-12 {
	background-image: $lines-b-12;
}

.icon-grid-b-12 {
	background-image: $grid-b-12;
}

.icon-mute-b-12 {
	background-image: $mute-b-12;
}

.icon-contact-b-12 {
	background-image: $contact-b-12;
}

.icon-up-b-12 {
	background-image: $up-b-12;
}

// Icon Black 20
.icon-logo-b-20 {
	background-image: $logo-b-20;
}

.icon-play-b-20 {
	background-image: $play-b-20;
}

.icon-close-b-20 {
	background-image: $close-b-20;
}

.icon-lines-b-20 {
	background-image: $lines-b-20;
}

.icon-grid-b-20 {
	background-image: $grid-b-20;
}

.icon-mute-b-20 {
	background-image: $mute-b-20;
}

.icon-contact-b-20 {
	background-image: $contact-b-20;
}

.icon-up-b-20 {
	background-image: $up-b-20;
}

// Icon White 12
.icon-logo-w-12 {
	background-image: $logo-w-12;
}

.icon-play-w-12 {
	background-image: $play-w-12;
}

.icon-close-w-12 {
	background-image: $close-w-12;
}

.icon-lines-w-12 {
	background-image: $lines-w-12;
}

.icon-grid-w-12 {
	background-image: $grid-w-12;
}

.icon-mute-w-12 {
	background-image: $mute-w-12;
}

.icon-contact-w-12 {
	background-image: $contact-w-12;
}

.icon-up-w-12 {
	background-image: $up-w-12;
}

// Icon White 20
.icon-logo-w-20 {
	background-image: $logo-w-20;
}

.icon-play-w-20 {
	background-image: $play-w-20;
}

.icon-close-w-20 {
	background-image: $close-w-20;
}

.icon-lines-w-20 {
	background-image: $lines-w-20;
}

.icon-grid-w-20 {
	background-image: $grid-w-20;
}

.icon-mute-w-20 {
	background-image: $mute-w-20;
}

.icon-contact-w-20 {
	background-image: $contact-w-20;
}

.icon-up-w-20 {
	background-image: $up-w-20;
}