<!-- Site Footer Start -->
<footer class="site-footer type-light">
	<div class="content inner">
		<div class="row">
			<div class="social-footer">
				<h1>Find me elsewhere.</h1>
				<h3>I can be pretty intermitent on social media, but feel free to give me a follow and I'll try to say hi!</h3>
				<ul>
					<a href="https://www.instagram.com/iamnbutler/" target="_blank"><li>Instagram</li></a>
					<a href="https://twitter.com/iamnbutler" target="_blank"><li>Twitter</li></a>
					<a href="https://dribbble.com/iamnbutler" target="_blank"><li>Dribbble</li></a>
					<a href="https://goo.gl/photos/qeTYKqGErL45REbW7" target="_blank"><li>Inspo</li></a>
				</ul>
			</div>
			<div class="footer-intro">
				<div class="avatar"></div>
				<div class="bubble">
					<p>I'm Nate, a designer focused on helping teams realize their product's vision.</p>
					<p>In my free time I make <a href="https://www.instagram.com/iamnbutler/">3D art</a> and play too many <a href="https://my.playstation.com/profile/yaminateo">video games</a> <i class="em em-sweat_smile" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH AND COLD SWEAT"></i></p>
				</div>
			</div>
		</div>
		<div class="footer-text">
			<p>Never stop learning &infin;</p>
			<p>Handcrafted with love · <a href="https://codekitapp.com/" target="_blank">Codekit</a> + <a href="https://www.11ty.dev/" target="_blank">Eleventy</a> · © Nate Butler 2019</p>
		</div>
		<div class="row">
			<footer>
				<div class="button light">
					<i class="icon icon-20 icon-up-w-20"></i> 
					<span>Back to Top</span>
				</div>
			</footer>
		</div>
		<div class="footer-image"></div>
	</div>
</footer>