<header id="site-header">
	<div class="inner">
		<a href="{{ '/' | url }}" id="about-nav">
			<i class="icon-12 icon-logo-b-12"></i> Nate Butler.
		</a>
		<nav class="navigation">
			<a href="#top-nav" id="top-nav"> <i class="icon-12 icon-grid-b-12"></i>Projects.</a>
			<a href="/blog">Blog.</a>
			<a href="/info">Info.</a>
			<a href="/info#contact">Contact.</a>
		</nav>
	</div>
</header>