<!doctype html>
<html lang="en">
  {% include siteheader %}
  <body>
  	{% include header %}
    {{ content | safe }}
    {% include footer %}
    <script src="js/scripts-min.js"></script>
  </body>
</html>