<head>
	<title>Nate Butler · Product Designer</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- TODO - REMOVE AFTER LAUNCH -->
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700|Raleway:700,900|Libre+Caslon+Text:400,400i,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/screen.css">
	<!-- Emoji Library – https://emoji-css.afeld.me/ -->
	<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#ffffff">
</head>